<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO4tUYD3Ybf4BynvFqSwOYPeRKoWOoOeU</string>
	<key>GCM_SENDER_ID</key>
	<string>488172887901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wiilloo</string>
	<key>PROJECT_ID</key>
	<string>willoo</string>
	<key>STORAGE_BUCKET</key>
	<string>willoo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488172887901:ios:61b2b5d887b222288d52b4</string>
</dict>
</plist>